html, body{
  height: 100%;
  background-color: #3d3d3f;
}

#root{
  height: 100%;
}

#root > div{
  height: 100%;
}

h1, h2, h4, a, p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #f9f8fd;
  font-size: 2.3em;
  font-weight: 700;
}

h2 {
  color: #f9f8fd;
  font-size: 1.7em;
  font-weight: 500;
}

a {
  color: #3d3d3f !important;
  font-size: 1.7em;
  font-weight: 500;
}

p {
    color: #f9f8fd;
  font-weight: 300;
  font-size: 1.2em;
}

.glyphicon {
  color: #3d3d3f;
  transition: color .2s ease;
  top: auto;
}

.glyphicon:hover {
  color: #808085;
  transition: color .3s ease;
  cursor: pointer;
}

.trash-glyph {
  margin-left: 10px;
  font-size: 1.3em;
}
