.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2% 0 2%;
}

#username-display {
}

#logout-btn {
  margin-left: 20px;
  transition: color 0.1s ease;
  transition: color .1s ease;
}

#logout-btn:hover {
  cursor: pointer;
}

#logout-btn:hover #username {
  color: #ffc58f;
  transition: color .2s ease;
}

#logout-btn:active #username {
  color: #ff8e24;
  transition: color .1s ease;
}
