.quill {
  background-color: #f9f8fd;
}

.quill p {
  color: #3d3d3f;
}

.quill h1 {
  color: #3d3d3f;
}

.quill h2 {
  color: #3d3d3f;
}

#saved-btn {
  font-size: 1.2em;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #d1f1a9;
}

#save-btn {
  font-size: 1.2em;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: rgba(61, 61, 63, .5);
  transition: color .1s ease;
}

#save-btn:hover {
  color: rgba(61, 61, 63, 1);
  transition: color .2s ease;
}

.quill-holder {
  position: relative;
}
