.panel {
  border-radius: 0px;
  margin: 0;
}

.panel h2 {
  color: #3d3d3f;
}

.panel-heading {
  padding: 8px 5% 8px 5%;
}

.panel-body {
  padding: 0;
}

.subtopic-holder {
}

.subtopics-holder {
}

.subtopic-header .trash-glyph{
  color: rgba(0,0,0,0);
  visibility: hidden;
  transition: color .2s ease;
  visibility: hidden;
}

.subtopic-header:hover .trash-glyph{
  color: #3d3d3f;
  visibility: visible;
  transition: color .3s ease;
}

.subtopic-header .trash-glyph:hover {
  color: #949499 !important;
  transition: color .3s ease;
}
