.topics-holder {
  height: 100%;
}

.topic-holder {

}

.topic-header-holder {
  background-color: red;
  padding: 10px 5% 10px 5%;
}

.topic-header-holder h2{
  color: #3d3d3f;
}

.topic-grid{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}
