.topics-holder {
  height: 100%;
  background-color: #AFAFAF;
}

.topic-holder {

}

.topic-header-holder {
  background-color: red;
  padding: 10px 5% 10px 5%;
}

.topic-header-holder h2{
  color: #3d3d3f;
}

.topic-grid{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

.topic-header-holder .glyphicon:hover {
  color: #949499 !important;
  transition: color .3s ease;
}

.topic-header-holder .glyphicon {
  font-size: 1.7em;
  margin: 0 5px 0 5px;
  color: rgba(0,0,0,0);
  visibility: hidden;
  transition: color .2s ease;
}

.topic-header-holder:hover .glyphicon{
  color: #3d3d3f;
  visibility: visible;
  transition: color .3s ease;
}
